// IMPORTS
@import '_variables';
@import '_fonts';
@import '_spacing';

// COLORS
$colors: (
  'primary': $app-primary,
  'secondary': $app-secondary,
  'tertiary': $app-tertiary,
  'danger': $app-danger,
  'info': $app-info,
  'warning': $app-warning,
  'success': $app-success,
  'input': $app-input,
);

$tones: (
  'primary': $app-primary--tones,
  'secondary': $app-secondary--tones,
  'tertiary': $app-tertiary--tones,
);

// COLOR RELATED CLASSED
@each $name, $color in $colors {

  // classes for texts in every color
  .text-app-#{$name} {
    color: $color !important;
  }
  // classes for backgrounds in every color
  .bg-app-#{$name} {
    background-color: $color !important;
  }
  // classes for borders in every color
  .border-app-#{$name} {
    border-left: 1px solid $color !important;
    border-right: 1px solid $color !important;
    border-top: 1px solid $color !important;
    border-bottom: 1px solid $color !important;
  }

  .divider-app-#{$name} {
    background-color: $color !important;
  }
}

// TONES RELATED CLASSED
@each $name, $tone in $tones {
  @each $tone-name, $tone-color in $tone {
    .text-app-#{$name}-#{$tone-name} {
      color: $tone-color !important;
    }
    .bg-app-#{$name}-#{$tone-name} {
      background-color: $tone-color !important;
    }
    .border-app-#{$name}-#{$tone-name} {
      border-left: 1px solid $tone-color !important;
      border-right: 1px solid $tone-color !important;
      border-top: 1px solid $tone-color !important;
      border-bottom: 1px solid $tone-color !important;
    }
    .separator-app-#{$name}-#{$tone-name} {
      background: $tone-color !important;
    }
  }
}

.app-primary-separator {
  border: 0;
  background: rgb(0 0 0);
  margin: 0;
  transition: background 0.3s, opacity 0.3s;
  flex-shrink: 0;
}

// FONTS
html,
body {
  font-family: $regular;
  font-size: 15px;
  background-color: $app-tertiary;
  color: $app-secondary;
  @media (max-width: 600px) {
    font-size: 13px !important;
  }
}

a {
  text-decoration: none !important;
}

.custom-size-input {
  .q-field__control {
    height: 3rem !important;
    border-radius: 8px;
  }
  .q-field__marginal {
    height: 3rem !important;
  }

  .q-field__control,
  .q-field--outlined.q-field--rounded .q-field__control,
  .q-field--outlined {
    min-height: 3rem !important;
  }

  .q-field__native {
    min-height: 3rem !important;
    height: 3rem !important;
    max-height: 3rem !important;
  }

  .q-field--error .q-field__bottom {
    color: $app-danger !important;
  }

  .text-negative {
    color: $app-danger !important;
  }
}

.app-switch {
  height: 28px !important;
  margin-top: -2px !important;
  margin-right: 10px !important;

  .q-toggle__inner {
    width: 35px !important;
    margin-left: 12px !important;
    min-width: 35px !important;
    height: 28px !important;
    padding: 0 !important;
    .q-toggle__track {
      height: 25px !important;
      width: 43px !important;
      margin-top: 0 !important;
      opacity: 1 !important;
      padding: 0 10px;
      border-radius: 18px !important;
    }
    .q-toggle__thumb {
      margin-top: -8px !important;
      height: 20px;
      width: 20px;
    }
    .q-toggle__thumb::after {
      box-shadow: none !important;
    }
    .q-toggle__label {
      width: 50px !important;
    }
  }
}

.app-switch--active {
  .q-toggle__track {
    color: $app-secondary !important;
    border: solid 0.8px $app-secondary !important;
  }
  .q-toggle__thumb {
    color: white !important;
    margin-left: -7px !important;
  }
}

.app-switch--inactive {
  .q-toggle__track {
    color: $app-input !important;
    border: solid 0.8px $app-input !important;
  }
  .q-toggle__thumb {
    margin-left: -6px !important;
  }
}
